<div class="tops_takeos101_anchors">
    <div class="container tops_container">
      <div class="row">
        <div class="col-12 col-md-4"><a href="#selfpaced">Self-Paced<i class="fa-solid fa-circle-arrow-down"></i></a></div>
        <div class="col-12 col-md-4"><a href="#instructorled">Instructor-Led<i class="fa-solid fa-circle-arrow-down"></i></a></div>
        <div class="col-12 col-md-4"><a href="#nasacenters">NASA Centers<i class="fa-solid fa-circle-arrow-down"></i></a></div>
      </div>
    </div>
  </div>