<div id="nasacenters" style="background-image: url('{{ site.baseurl }}/assets/img/msfc.jpg');" class="tops_blue_divider_section tops_black_sub tops_overlay_section black_overlay">
    <div class="the_overlay opacity-75"></div>
    <div class="tops_shape tops_shape_top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M0,6V0h1000v100L0,6z"></path>
      </svg>
    </div>
    <div class="tops_shape tops_shape_bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M0,6V0h1000v100L0,6z"></path>
      </svg>
    </div>
    <div class="container tops_container">
      <div class="row">
        <div class="col-12 tops_blue_divider_primary_content primary_content_md">
          <h2 class="text-center text-white mb-2">{{ takeos101-nasacenters-title }}</h2>
          <div class="tops_divider div_larger justify-content-center mb-3"><div class="div_inner"></div></div>
          {{ takeos101-nasacenters-description | markdownify }}
          <div class="d-flex flex-row flex-wrap tops_doublebuttons justify-content-center">
            <a class="btn btn-primary" href="{{ takeos101-nasacenters-visit-link }}" target="_blank" role="button">{{ takeos101-nasacenters-visit-text }} <i class="fa-solid fa-up-right-from-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>