<div id="selfpaced" class="tops_white_section tops_half_section half_section_left">
    <div class="container tops_container">
      <div class="d-flex flex-row flex-wrap align-items-start">
        <div class="tops_half_section_column_small">
          <div class="tops_half_section_shinysquare"></div>
          <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/os101screens.png" class="tops_half_section_image"></div>
        </div>
        <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
          <h2 class="mb-2">{{ takeos101-selfpaced-title }}</h2>
          <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
          {{ takeos101-selfpaced-description | markdownify }}
          <div class="d-flex flex-row flex-wrap tops_doublebuttons">
            <a class="btn btn-primary" href="{{ takeos101-selfpaced-registernow-link }}" target="_blank" role="button">{{ takeos101-selfpaced-registernow-text }} <i class="fa-solid fa-up-right-from-square"></i></a>
            <a class="btn btn-outline-primary" href="{{ takeos101-selfpaced-contactus-link }}" role="button">{{ takeos101-selfpaced-contactus-text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>