<div class="tops_white_section tops_half_section half_section_right">
              <div class="container tops_container">
                <div class="d-flex flex-row flex-wrap align-items-start">
                  <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
                    <h2 class="mb-2">{{ takeos101-whatisos101-title }}</h2>
                    <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
                    {{ takeos101-whatisos101-description | markdownify }}
					<h3 class="mt-3 mb-2">Explore Curriculum Modules</h3>
					<ul class="d-flex flex-row flex-wrap tops_list_icons">
						{% for cmodules-takeos101-item in site.data.menus.cmodules %}
							{% if cmodules-takeos101-item.title != "All Modules" %}
								<li class="me-3"><a href="{{site.baseurl}}/{{cmodules-takeos101-item.url}}"><i class="fa-solid fa-circle-arrow-right"></i>{{cmodules-takeos101-item.title}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
					<div class="d-flex flex-row flex-wrap tops_doublebuttons">
					  <a class="btn btn-primary" href="{{ takeos101-whatisos101-learn-more-link }}" role="button">{{ takeos101-whatisos101-learn-more-text }}</a>
					</div>
                  </div>
                  <div class="tops_half_section_column_small">
                    <div class="tops_half_section_shinysquare"></div>
                    <div class="tops_half_section_imageoutter"><!--<img src="assets/img/videothumbv2.jpg" class="tops_half_section_image">--><iframe width="560" height="315" src="https://www.youtube.com/embed/RJAcQ3TxlAc?si=JtQi5PJdCGJkx9mY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
                  </div>
                </div>
              </div>
            </div>