<div class="tops_white_section tops_howhelp_section">
    <div class="container tops_container">
      <div class="row">
        <div class="col-12 tops_howhelp_primary_content primary_content_md">
          <h2 class="text-center mb-2">How Can We Help?</h2>
          <div class="tops_divider div_larger justify-content-center mb-3"><div class="div_inner"></div></div>
          <p>Contacting TOPS and engaging with the community through email or GitHub discussions opens the door to valuable insights and collaborative opportunities in the world of open science education.</p>
        </div>
      </div>
      <div class="row mt-5 mt-md-4">
          <div class="col-12 col-md-6 p-0 pb-4 p-md-3 tops_howhelp_item">
            <div class="tops_howhelp_inner">
              <div class="tops_howhelp_overlay opacity-65"></div>
              <div class="tops_howhelp_boxcontent">
                <div class="tops_howhelp_iconholder text-center mb-4"><div class="tops_howhelp_icon"><i class="fa-solid fa-comment-dots"></i></div></div>
                <h3 class="text-white text-center mb-2">Start a Discussion on GitHub</h3>
                <p>If you have questions or insights about Open Science or TOPS, don't hesitate to start a discussion on our GitHub.  Open and constructive dialogues in this space are incredibly valuable and helps foster a community of like-minded individuals who are committed to advancing open science practices.</p>
                <div class="d-flex flex-wrap justify-content-center tops_howhelp_button mt-3"><a class="btn btn-outline-light" href="https://github.com/nasa/Transform-to-Open-Science/discussions" role="button" target="_blank">Start Discussion</a></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 p-0 pb-0 p-md-3 tops_howhelp_item">
            <div class="tops_howhelp_inner">
              <div class="tops_howhelp_overlay opacity-65"></div>
              <div class="tops_howhelp_boxcontent">
                <div class="tops_howhelp_iconholder text-center mb-4"><div class="tops_howhelp_icon"><i class="fa-solid fa-envelope"></i></div></div>
                <h3 class="text-white text-center mb-2">Send Us An Email</h3>
                <p>Sending an email to the TOPS team is an excellent way to get answers to questions about taking Open Science 101, teaching Open Science 101, open science stories, or anything related to open science. Direct your emails to <a href="mailto:hq-openscience@nasa.gov">hq-openscience@nasa.gov</a> or click the button below to get started in your email app.</p>
                <div class="d-flex flex-wrap justify-content-center tops_howhelp_button mt-3"><a class="btn btn-outline-light" href="mailto:hq-openscience@nasa.gov" role="button">Send Email</a></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>