$background-image: var(--bg-image);
$background-color: #f0f0f0;
$secondary-color: #595959;
$secondary-light-color: #eeeeee;
$accent-color: #1b5e20;
$text-primary-color: $secondary-color;
$text-secondary-color: $accent-color;
$font-primary: 'Montserrat', sans-serif;
$accent-color-background: rgba(27, 94, 32, 0.1);

body {
    display: flex;
    width: 100vw;

    flex-direction: column;

    font-family: $font-primary;
    font-size: 16px;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;

    ul {
        list-style: none !important;
    }
}

header {
    display: flex;
    
    padding: 48px 0 0 0;
    
    .logo {
        font-size: 32px;
        font-weight: 500;
        justify-self: flex-start;
        flex-basis: 50%;
        padding: 8px 16px;
        margin-left: 24px;
        color: #3c3939;

        a {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            text-decoration: none;
            color: inherit;
        }
    }

    .menu {
        flex-basis: 50%;

        ul {
            display: flex;
            justify-content: flex-end;

            margin-right: 5%;
            
            li {
                font-weight: 500 !important;

                padding-bottom: 8px;
                margin: 2px 8px;

                text-transform: uppercase;
                font-size: 0.8vw;
                text-align: center;

                font-weight: 400;

                a {
                    text-decoration: none;
                    color: inherit;
                }

                &:after {
                    display: block;
                    content: '';
                    border-bottom: 4px solid $secondary-light-color;  
                    transform: scaleX(0.6);
                    transition: all 800ms ease-in-out;
                }
                
                &.active {
                    cursor: pointer;
                    &:after {
                        border-color: $accent-color;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.main {
    min-height: 70vh;
    
    .padded {
        padding: 64px 15%;
        
        .news {
            display: flex;
            flex-direction: column;
    
            article {
                display: flex;
                flex-direction: row;
    
                justify-content: flex-start;
                align-items: center;
                
                .text {
                    padding: 32px;
                    flex-basis: 80%;
                    flex-grow: 1;
    
                    h2 {
                        color: $text-secondary-color;
                    }
                    
                    p {
                        margin-bottom: 16px;
                        text-align: justify;
    
                        time {
                            font-size: 12px;
                            color: $text-primary-color
                        }
                    }
    
                    .learn-more {
                        text-decoration: underline;
                        font-size: 12px;
                    }
                }
                
                .thumb {
                    padding: 8px 32px 8px 0;
    
                    img {
                        width: 200px;
                    }
                }
    
                &:nth-child(odd) {
                    background-color: $secondary-light-color;
                }
            }
    
            .navigation {
                align-self: center;
            }
        }


        .post {
            margin: 64px;

            h1 {
                margin-bottom: 16px;
                color: $text-secondary-color;
            }

            .entry {
                font-size: 14px;
            }

            .date {
                margin-top: 16px;
                font-size: 12px;
                
                time {
                    color: $text-secondary-color
                }
            }
        }
    }

    .overview {
        display: flex;
        align-items: center;
        height: 95vh;
        
        position: relative;
        
        &::after {
            background-image: $background-image;
            background-repeat: no-repeat;
            content: "";
            background-size: 40%;
            background-position: right;
            opacity: 0.1;
            position: absolute;
            top: 0px;
            right: 20%;
            bottom: 0px;
            left: 0px;

            z-index: -1000;
        }

        .left, .right {
            display: flex;
            align-items: flex-start;
        }
        
        .left {
            flex-direction: column;
            font-size: 64px;

            flex-basis: 50%;
            padding-left: 10%;

            p {
                position: relative;
                padding: 16px 0 32px 16px;
                border-left: 8px solid $accent-color;

                &::before {
                    position: absolute;
                    bottom: 24px;
                    left: -32px;
                    background: $accent-color;
                    width: 100%;
                    height: 8px;
                    content: "";
                }
            }
        }
        
        .right {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0 10%;

            
            .normal-text {
                font-size: 18px;
                text-align: center;
                margin-bottom: 16px;

                .emphasis {
                    font-size: 20px;
                    color: $text-secondary-color;
                }
            }

            .engagement {
                display: flex;
                flex-direction: column;
                justify-content: center;

                text-align: center;
                margin-top: 64px;

                .github {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 16px 8px;
                    background-color: rgba(0, 0, 0, 0.1);

                    border-radius: 15px;
    
                    img {
                        margin-right: 8px;
                    }
                }
            }

            .news-section {
                border-left: 1px solid rgba(0, 0, 0, 0.2);

                margin-left: 8px;
                padding: 0 0 12px 24px;

            }
        }

    }

    .news-section {
        display: flex;
        flex-direction: column;

        padding: 4px 25%;
        padding-bottom: 24px;
        justify-content: center;
        align-items: flex-start;
        min-height: 25vh;

        background-color: $accent-color-background;
        
        .title {
            font-size: 18px;
            font-weight: 500;
            align-self: center;
        }

        a {
            .news-title {
                font-size: 16px;
            }

        }
        .excerpt {
            font-size: 14px;
            text-align: left;
        }

        .date {
            font-size: 10px;
            margin-top: 6px;
            text-align: left;
        }

        .see-more {
            font-size: 13px;
        }
    }
    
    .detail {
        min-height: 25vh;
        background-color: $secondary-light-color;

        p {
            padding: 64px 128px;
            text-align: center;
        }
    }

    .openness {
        display: flex;
        flex-direction: column;

        padding: 64px 128px;

        .row {
            display: flex;
            flex-direction: row;

            &:nth-of-type(1) {
                margin-bottom: 32px;
            }
            
            .col {
                flex-basis: 50%;
                display: flex;

                justify-content: flex-start;
                align-items: center;

                .thumbnail {
                    img {
                        width: 200px;
                    }
                }

                .text {
                    margin-left: 16px;

                    .title {
                        font-size: 24px;
                        color: $text-secondary-color;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}

footer {
    height: 20vh;
    background-color: $secondary-light-color;
}

a {
    text-decoration: none;
    color: $text-secondary-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-secondary-color;
}

ul, ol {
    list-style: disc !important;
}

figcaption {
    font-size: 11px;
}

@media screen and (max-width: 850px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        flex-direction: column;

        margin: 98px 0 32px 0;

        .logo {
            padding: 0;
            margin-bottom: 16px;

            justify-self: center;
        }
        
        .menu > ul {
            display: flex;
            flex-direction: column;

            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }

    .main {
        .overview {
            &::before {
                background: none;
            }

            .right {
                margin-top: 16px;
                flex-direction: column;
                
                .news-section {
                    padding-top: 16px;
                    margin-top: 16px;
                    border: none;
                    border-top: 2px solid $secondary-light-color;
                }
            }
            
            .left {
                display: none;
            }
        }

        .detail {
            width: 100vw;
        }

        .openness {
            .row {
                flex-direction: column;

                .col > .thumbnail > img {
                    width: 25vw;
                    height: auto;
                }

                .col > .text {
                    margin-top: 16px;
                    font-size: 12px;

                    .title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    header {
        .menu > ul > li {
            a {
                font-size: 14px;
            }
        } 
    }
}
