<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="card">
    <a href="{{ post.url | absolute_url }}">
        {% if post.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %}
    </a>
    <div class="card-block">
        <h2 class="card-title h4 serif-font"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
        <p class="card-text text-muted">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
        <!-- <div class="metafooter">
            <div class="wrapfooter small d-flex align-items-center">
                <span class="author-meta">
                By  <span class="post-name"> {% if post.author %}{{ author.display_name }}{% else %}{{ site.author }}{% endif %}, </span>             
                on <span class="post-date">{{ post.date | date_to_string }}</span>
                </span>               
                <div class="clearfix"></div>
            </div>
        </div> -->
    </div>
</div>
<!-- end post -->