<div style="background-image: url('{{ site.baseurl }}/assets/img/foreveryone.jpg'); min-height: 450px;" class="tops_blue_divider_section tops_black_sub tops_overlay_section black_overlay">
    <div class="the_overlay opacity-75"></div>
    <div class="tops_shape tops_shape_top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M0,6V0h1000v100L0,6z"></path>
      </svg>
    </div>
    <div class="tops_shape tops_shape_bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path d="M0,6V0h1000v100L0,6z"></path>
      </svg>
    </div>
    <div class="container tops_container">
      <div class="row">
        <div class="col-12 tops_blue_divider_primary_content primary_content_md">
          <h2 class="text-center text-white mb-2">Un currículo de Ciencia Abierta para todas las personas</h2>
          <div class="tops_divider div_larger justify-content-center mb-3"><div class="div_inner"></div></div>
          <p>En la iniciativa TOPS de la NASA, reconocimos la necesidad de una versión de "Introducción a la Ciencia Abierta" que no solo sea legible en español, sino que esté contextualizada de manera que reconozca la diversidad y la cultura de las personas que tomarán el curso. Esto garantiza que el curso de "Introducción a la Ciencia Abierta" sea significativo y de alta calidad sin importar quién lo tome.</p>
        </div>
      </div>
    </div>
  </div>
