<div class="tops_white_section tops_half_section half_section_right">
    <div class="container tops_container">
      <div class="d-flex flex-row flex-wrap align-items-start">
        <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
          <h2 class="mb-2">¿Cómo se toma la versión en español del currículo?</h2>
          <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
          <p>A través de una colaboración externa estamos trabajando arduamente para asegurarnos de que el curso "Introducción a la Ciencia Abierta" se vea excelente en su lanzamiento inicial. Esperamos publicar este contenido en un repositorio de GitHub y luego en openscience101.org, donde podrás recibir una insignia digital.</p> 
          <p>A pesar de que la versión en español del curso no se lanzó oficialmente, el curso está disponible para tomarlo con instructores de manera virtual. Si estás interesado en tomar el curso en este formato, puedes consultar las opciones al <a href="#instructorled">final de esta página.</a></p>
          <p>¡Te invitamos a regresar a esta página o suscribirte a nuestra lista de distribución de noticias para recibir actualizaciones!</p>
        </div>
        <div class="tops_half_section_column_small">
          <div class="tops_half_section_shinysquare"></div>
          <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/spanishspeakingwoman.jpg" class="tops_half_section_image"></div>
        </div>
      </div>
    </div>
  </div>
