<div class="tops_white_section tops_half_section half_section_right">
    <div class="container tops_container">
      <div class="d-flex flex-row flex-wrap align-items-start">
        <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
          <h2 class="mb-2">¿Cómo se Toma la Versión en Español del Currículo?</h2>
          <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
          <p>Nuestros beneficiarios externos están trabajando arduamente para asegurarse de que el curso Introducción a la Ciencia Abierta en español se vea excelente en su lanzamiento inicial. Debes esperar un lanzamiento del contenido en nuestro GitHub seguido de cualquier noticia relevante sobre cómo puedes recibir un certificado digital a través de la versión en español del curso. Le recomendamos que regrese a esta página para obtener noticias y actualizaciones a medida que estén disponibles.</p>
        </div>
        <div class="tops_half_section_column_small">
          <div class="tops_half_section_shinysquare"></div>
          <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/spanishspeakingwoman.jpg" class="tops_half_section_image"></div>
        </div>
      </div>
    </div>
  </div>