@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&family=Roboto:wght@500;700;900&display=swap');

html, body { 
	background-color: #000;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	display: block;
	position: relative;
    height: auto;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a, button {
	font-family: 'Roboto', sans-serif;
}

p, span, p a {
	font-family: 'Nunito', sans-serif;
}

.tops_base_element {
	display: flex;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow-y:auto;
	overflow-x: hidden;
	z-index: 3;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 30px;
	padding-top: 70px;
	padding-bottom: 70px;
	background: linear-gradient(180deg, rgba(13,66,95,0.9) 30%, rgba(216,62,0,0.4) 100%), url('../img/tops_signup_bg.jpg');
	background-size: cover;
	background-position: center center;
}

.tops_form_container {
	display: flex;
	position: relative;
	width: 100%;
	max-width: 600px;
	height: auto;
	padding: 30px;
	box-sizing: border-box;
	background-color: #FFF;
	z-index: 5;
	border-radius: 5px;
	flex-flow: column wrap;
	-webkit-box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.3);
}

.tops_form_container .tops_form_content h2 {
	display: block;
	width: 100%;
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 24px;
	line-height: 27px;
	text-transform: uppercase;
	color: #222;
	font-weight: 900;
}

.tops_form_container .tops_form_content h3 {
	display: block;
	width: 100%;
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 18px;
	text-transform: capitalize;
	color: #222;
	font-weight: 700;
}

.tops_form_container .tops_form_content p {
	display: block;
	width: 100%;
	color: #707070;
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 400;
}

.tops_form_container .tops_form_content {
	display: block;
	width: 100%;
	margin-bottom: 12px;
}

.tops_form_container .tops_form_content p a {
	color: #D83E00;
	text-decoration: underline;
}

.tops_form_container .tops_form_content p a:hover, .tops_form_container .tops_form_content p a:active, .tops_form_container .tops_form_content p a:focus {
	opacity: 0.7;
}

.tops_form_container .tops_form_content .tops_form_image {
	display: block;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
	height: auto;
}

div.ctct-form-embed div.ctct-form-defaults {
	padding: 0 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

div.ctct-form-embed form.ctct-form-custom fieldset.ctct-form-lists {
	padding: 0 !important;
}

div.ctct-form-embed form.ctct-form-custom fieldset.ctct-form-lists legend.ctct-form-lists-legend {
	left: initial !important;
}

div.ctct-form-embed form.ctct-form-custom div.ctct-form-field {
	margin: 0 !important;
	margin-bottom: 14px !important;
}

div.ctct-form-embed form.ctct-form-custom label.ctct-form-label, div.ctct-form-embed form.ctct-form-custom fieldset.ctct-form-lists legend.ctct-form-lists-legend {
	font-family: 'Roboto', sans-serif !important;
	color: #222 !important;
	margin-bottom: 8px !important;
	font-size: 15px !important;
	line-height: 17px !important;
}

.grecaptcha-badge {
	visibility: hidden;
}

.ctct-form-embed.form_0 .ctct-form-custom .ctct-form-button {
	border-radius: 5px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    line-height: 19px !important;
}

.tops_form_container .ctct-form-success {
	min-height: initial !important;
	border-radius: 5px;
	background-color: #1E8806;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 7px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.tops_form_container .ctct-form-success h2 {
	display: block;
	width: 100%;
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px !important;
	line-height: 18px !important;
	margin-top: 0 !important;
	margin-bottom: 8px !important;
	color: #FFF !important;
}

.tops_form_container .ctct-form-success p {
	display: block;
	width: 100%;
	color: #707070;
	margin-top: 0;
	margin-bottom: 0 !important;
	font-size: 15px;
	line-height: 1.4em;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.85) !important;
}