<div id="earnbadge" class="tops_white_section tops_earnbadge_section">
              <div class="container tops_container">
                <div class="row">
                  <div class="col-12 tops_earnbadge_primary_content primary_content_md">
                    <h2 class="text-center mb-2">Earn Your NASA OPEN SCIENCE Badge</h2>
                    <div class="tops_divider div_larger justify-content-center mb-3"><div class="div_inner"></div></div>
                    <p>To gain a solid grasp of the Open Science 101 curriculum, it’s crucial to take each of the five modules in order, starting with Module 1: The Ethos of Open Science.  By taking each module in order, learners can develop a strong foundation and understanding, ultimately enabling them to apply open science practices effectively.</p>
                    <div class="d-flex flex-row flex-wrap tops_doublebuttons justify-content-center">
                      <a class="btn btn-primary" href="{{site.baseurl}}/{{site.enrollbutton}}" role="button">Enroll Now</a>
					  <a class="btn btn-outline-primary" href="#" role="button">Contact Us</a>
                    </div>
                  </div>
                </div>
                <div class="row mt-5 tops_earnbadge_badges">
                  <div class="col-6 col-md-4 col-lg-2 pb-4 pb-lg-0 tops_earnbadge_badge"><a class="d-block w-100 h-auto" href="#ethos"><img class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/badges/ethos.png"></a><h4 class="d-block w-100 mb-0 text-center px-3 mt-3">Module 1</h4></div>
				  <div class="col-6 col-md-4 col-lg-2 pb-4 pb-lg-0 tops_earnbadge_badge"><a class="d-block w-100 h-auto" href="#toolsandresources"><img class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/badges/tools.png"></a><h4 class="d-block w-100 mb-0 text-center px-3 mt-3">Module 2</h4></div>
				  <div class="col-6 col-md-4 col-lg-2 pb-4 pb-lg-0 tops_earnbadge_badge"><a class="d-block w-100 h-auto" href="#data"><img class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/badges/data.png"></a><h4 class="d-block w-100 mb-0 text-center px-3 mt-3">Module 3</h4></div>
				  <div class="col-6 col-md-4 col-lg-2 pb-4 pb-lg-0 tops_earnbadge_badge"><a class="d-block w-100 h-auto" href="#code"><img class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/badges/code.png"></a><h4 class="d-block w-100 mb-0 text-center px-3 mt-3">Module 4</h4></div>
				  <div class="col-6 col-md-4 col-lg-2 pb-4 pb-lg-0 tops_earnbadge_badge"><a class="d-block w-100 h-auto" href="#results"><img class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/badges/results.png"></a><h4 class="d-block w-100 mb-0 text-center px-3 mt-3">Module 5</h4></div>
				  <div class="col-6 col-md-4 col-lg-2 pb-4 pb-lg-0 tops_earnbadge_badge"><img class="d-block img-fluid" src="{{ site.baseurl }}/assets/img/badges/congrats.png"><h4 class="d-block w-100 mb-0 text-center px-3 mt-3">Congrats!</h4></div>
                </div>
              </div>
            </div>