<div id="results" class="tops_white_section tops_half_section half_section_right">
              <div class="container tops_container">
                <div class="d-flex flex-row flex-wrap align-items-start">
                  <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
                    <h2 class="mb-2">{{ os101modules-module5-title }}</h2>
                    <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
                    {{ os101modules-module5-description | markdownify }}
                  </div>
                  <div class="tops_half_section_column_small">
                    <div class="tops_half_section_shinysquare"></div>
                    <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/modules/module5.jpg" class="tops_half_section_image"></div>
                  </div>
                </div>
              </div>
            </div>