<div id="toolsandresources" class="tops_half_section half_section_left tops_blue_divider_section tops_overlay_section blue_overlay">
			  <div class="the_overlay opacity-65"></div>
			  <div class="tops_shape tops_shape_top tops_shape_gray">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
						<path d="M0,6V0h1000v100L0,6z"></path>
					</svg>
			  </div>
			  <div class="tops_shape tops_shape_bottom">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
						<path d="M0,6V0h1000v100L0,6z"></path>
					</svg>
			  </div>
              <div class="container tops_container">
                <div class="d-flex flex-row flex-wrap align-items-start">
                  <div class="tops_half_section_column_small">
                    <div class="tops_half_section_shinysquare"></div>
                    <div class="tops_half_section_imageoutter"><img src="{{ site.baseurl }}/assets/img/modules/module2.jpg" class="tops_half_section_image"></div>
                  </div>
                  <div class="d-flex flex-column flex-wrap justify-content-center tops_half_section_column_big">
                    <h2 class="mb-2 text-white">{{ os101modules-module2-title }}</h2>
                    <div class="tops_divider div_smaller mb-3"><div class="div_inner"></div></div>
                    {{ os101modules-module2-description | markdownify }}
                  </div>
                </div>
              </div>
            </div>