---
layout: default
---
<div style="background-image: url('{{ site.baseurl }}/{{ page.image }}');" class="d-flex flex-column justify-content-center tops_hero sub_hero tops_overlay_section black_overlay {% if page.imagealign %}{{page.imagealign}}{% endif %}">
    <div class="the_overlay {% if page.overlay %}{{page.overlay}}{% endif %}"></div>
    <div class="container tops_container">
        <div class="row align-items-center">
          <div class="col-12">
            <h1 class="text-center text-white mb-0">{{ page.title }}</h1>
          </div>
        </div>
    </div>
  </div>
  {{content}}