<div class="tops_white_section tops_gray_section tops_events_section">
    <div class="container tops_container">
        <div class="row">
            <div class="col-12 tops_events_primary_content primary_content_md">
                <h2 class="text-center mb-2">{{ home-events-title }}</h2>
                <div class="tops_divider div_larger justify-content-center mb-3"><div class="div_inner"></div></div>
				{{ home-events-description | markdownify }}
                <div class="d-flex flex-row flex-wrap tops_doublebuttons justify-content-center">
                    <a class="btn btn-primary" href="{{site.baseurl}}/{{site.eventsbutton}}" role="button">{{ home-events-view-all-text }}</a>
                    <a class="btn btn-outline-primary" href="{{ home-events-contact-link }}" role="button">{{ home-events-contact-text }}</a>
                </div>
            </div>
        </div>
        <div class="row mt-5 mt-md-4">
            <div class="tops_events_tiles">
				{% assign sorted = site.events | sort: 'date' %}
				{% assign eventcounter = 0 %}
				{% for event in sorted limit:9 %}
					{% unless event.invisible == true %}
					{% assign eventcounter = eventcounter | plus: 1 %}
					<div class="tops_events_tile {% if eventcounter == 1 %}tops_events_tile_larger{% endif %}">
						<a href="{{ event.url | absolute_url }}">
							<div class="tops_events_tile_image"><img src="{{ site.baseurl }}/{{ event.image }}"></div>
							<div class="tops_events_tile_overlay"></div>
							<div class="tops_events_tile_context">
								<div class="tops_events_tile_categories">
									{% if event.acronyms %}
										{% assign event-acronyms-split = event.acronyms | split: "," %}

										{% for event-acronym in event-acronyms-split %}
										<span>{{ event-acronym }}</span>
										{% endfor %}
									{% else %}
										<span>Other</span>
									{% endif %}
								</div>
								<h3>{{ event.title }}</h3>
								<div class="d-flex flex-row flex-wrap align-items-center tops_events_tile_meta">
									<div class="tops_events_tile_metaitem">{{ event.daterange }}</div>
									<div class="tops_events_tile_metadivider"><i class="fa-solid fa-circle"></i></div>
									<div class="tops_events_tile_metaitem">{{ event.location }}</div>
								</div>
							</div>
						</a>
					</div>
					{% endunless %}
				{% endfor %}
                
            </div>
        </div>
    </div>
</div>