<div class="d-flex flex-column justify-content-center tops_hero home_hero tops_overlay_section black_overlay">
    <div class="the_overlay opacity-72"></div>
    <div class="container tops_container">
      <div class="row align-items-center">
        <div class="col-12 col-md-7">
          <h1 class="text-center text-md-start text-white mb-2">{{ home-hero-title }}</h1>
          <div class="tops_divider div_largest justify-content-center justify-content-md-start mb-3"><div class="div_inner"></div></div>
          <p class="text-center text-md-start text-white-85 mb-0">{{ home-hero-description }}</p>
        </div>
        <div class="col-12 col-md-5 text-center text-md-end"><img class="tops_hero_badge" src="assets/img/tops_badge_big.png"></div>
      </div>
    </div>
</div>
<div class="tops_four_cta">
    <div class="container-fluid p-0">
      <div class="row m-0">

        {% for fourctaitem in home-fourcta-titles-split %}
            <div class="col-6 col-lg-3 p-0">
                <a href="{{ home-fourcta-links-split[forloop.index0] }}" class="tops_image_box d-flex flex-row flex-wrap align-items-start" target="_blank">
                  <div class="tops_image_box_imagecol text-center text-md-start">
                      <div class="tops_image_box_imageinner"><i class="{{ home-fourcta-icons-split[forloop.index0] }}"></i></div>
                  </div>
                  <div class="tops_image_box_contentcol">
                    <h3 class="text-center text-md-start text-white mb-1">{{ home-fourcta-titles-split[forloop.index0] }} {% if forloop.index0 > 1 %}<i class="fa-solid fa-up-right-from-square"></i>{% endif %}</h3>
                    <p class="text-center text-md-start text-white-85 mb-0">{{ home-fourcta-descs-split[forloop.index0] }}</p>
                  </div>
                </a>
              </div>
        {% endfor %}

      </div>
    </div>
  </div>